@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald --default, forest --prefersdark;
}

@theme {
  --font-sans: "Roboto"; /* A highly readable and versatile sans-serif */
  --font-serif: "Merriweather", serif; /* A classic serif for headings or emphasis */
  --font-poetsen: "Poetsen One";
}

.grid-autofit {
  justify-items: center;
  @media (width >= 640px) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
